body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.parallax {
    background-image: linear-gradient(to right, #4e54c8, #8f94fb);
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.content {
    padding: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.cta-button {
    background-color: #fff;
    color: #4e54c8;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 10px;
    text-decoration: none;
}
.footer {
    background-color: rgba(255, 255, 255, 0.9); /* Transparent white */
    color: #333; /* Adjust text color to match your design */
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    margin: 5px 0;
}